.carrossel__titulo {
    color: var(--laranja);
    /*cor do titulo*/
    background-color: var(--branco);
    /*cor do background */
    text-align: center;
    /*alinhou o texto */
    text-transform: uppercase;
    /*transformou em letras maiusculas*/
    font-size: 18PX;
    /* tamanho da fonte */
    font-weight: 700;
    /*peso da fonte */
    padding: 1em 0 0.5em 0;
    /* primeiro 12:00(topo) segundo(3) 03:00(direita) 0.5(06:00) lado de baixo e 0em 10:00(esquerda) SÃO OS ESPAÇAMENTOS EM FORMAS DE RELOGIOS*/
}

.swiper-slide img {
    width: 100%;
    /*amplia as imagens para ocuparem 100% da tela */
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    /*retira os botões que vem por padrão */
}

.swiper-pagination {
    position: initial;
    /*posição foi para cima,por padrão vinha como absolute */
    margin: .5em 0;
    /* (topo e baixo .5em) 0(direita)*/
}

.card_descricao {
    display: flex;
    /*modelo de display*/
    justify-content: space-between;
    /*espaçmento entre os itens*/
    margin-bottom: 0.5em;
    /*margem para baixo*/
}

.card__botoes {
    display: flex;
    /*modelo de display*/
    justify-content: space-between;
    /*espaçmento entre os itens*/
}

.botoes {
    display: flex;
    /*modelo de display*/

}

.card {
    border-radius: 10px;
    /*arrendondou a borda*/
    background: var(--branco);
    /*cor de fundo*/
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /*sombra da caixa*/
    margin: 1em;
    /*margem*/
    padding: 1em;
    /*espaçamento*/
}

.descricao__titulo {
    color: var(--laranja);
    /*cor*/
    font-weight: 700;
    /*peso*/
}

.descricao__titulo-livro {
    color: var(--azul);
    /*cor do texto*/
    font-size: 18px;
    /*tamanho do texto*/
    font-weight: 700;
    /*peso do texto*/
    margin: 0.5em 0;
    /*margem do titulo do livro*/
}

.descricao__texto {
    font-size: 14px;
    /*tamanho da fonte do texto*/
}

.botoes__item {
    margin: 0 0.5em;
    /*margem dos itens*/
}

.botoes__ancora {
    background-color: var(--laranja);
    /*cor do background*/
    padding: 1em 2.2em;
    /*espaçamento*/
    color: var(--branco);
    /*cor*/
    font-weight: 700;
    /*peso*/
    text-decoration: none;
    /*Retirar pois ancoras por padrão vem com decoração*/
}

.descricao__titulo-autora {
    color: var(--laranja);
    font-family: var(--fonte--principal);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.descricao__titulo-nome {
    color: var(--azul);
    font-family: var(--fonte--principal);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.descricao__texto-autora {
    color: rgba(0, 0, 0, 0.85);
    font-family: var(--fonte--principal);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0
    }

    .swiper {
        width: 50%;
    }

    .descricao__titulo {
        font-size: 32px;

    }

    .descricao__texto {
        font-size: 16px;

    }

    .descricao {
        margin-right: 2em;
    }

    .card {
        width: 70%;
        margin-left: 3em;
    }

    .botoes__ancora:active {
        background-color: var(--azul);
    }
}